<div class="col-md-8 col-md-offset-2">
<h2> Edit Your Blog Profile </h2>
<form ng-submit="editBlog()">
  <div class="form-group">
    <label for="blogTitle"> Blog Title: </label>
    <input type="text" class="form-control" ng-model="blogTitle"></input>
  </div>
  <div class="form-group">
    <label for="blogBio"> What is your blog about ? </label>
    <textarea class="form-control" ng-model="blogBio"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-info btn-md"> Update </button>
  </div>
  <div class="alert alert-info" ng-if="editBlogStatus"> {{ editBlogStatus }} </div>
</form>
<h2> Edit Your User Profile </h2>
<form ng-submit="editUser()">
<div class="form-group">
  <label for "userBio"> What's your story ? </label>
  <textarea class="form-control" ng-model="userBio"></textarea>
</div>
<div class="form-group">
  <button type="submit" class="btn btn-info btn-md"> Update </button>
</div>
<div class="alert alert-info" ng-if="editUserStatus"> {{ editUserStatus }} </div>
</form>
<button class="btn btn-danger btn-lg" ng-click="deleteUser()"> Delete Account </button>
<div class="alert alert-warning" ng-if="message"> {{ message }} </div>
</div>
