<div class="jumbotron text-center" style="background-color:#b72323">
    <h1 style="color:white"> {{ title }} </h1>
</div>
<div class="col-md-8">
<div class="row" ng-repeat="post in posts">
  <div class="panel panel-primary">
    <div class="panel-heading"><h3><a ui-sref="viewPost({username: username, postId: post._id})" style="color:inherit;decoration:none"> {{ post.title }} </a></h3></div>
    <div class="panel-body" ng-bind-html="post.content">
    </div>
    <div class="panel-footer">
      {{post.date | date: "MMMM d, y h:mm a"}}
    </div>
  </div>
</div>
</div>
<div class="col-md-3 col-md-offset-1">
<div class="well">
<h4> About the blog </h4>
<p> {{blogBio}} </p>
</br>
</div>
<div class="well">
<h4 class="text-center"> About the author </h4>
<h3 class="text-center"> {{ fullName }} </h3>
<p> {{ userBio }} </p>
</div>
